<div class="modal" id="{{ army.slug }}_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Suppression de l'armée {{ army.name }}</h4>
            </div>
            <div class="modal-body">
                Vous êtes sur le point de supprimer l'armée {{ army.name }}.<br>
                Etes vous sur ?
                <div class="group-button pull-right">
                    <a class="btn btn-default btn-xs" data-dismiss="modal">NON</a>
                    <a href="{{ path('army_delete', {'slug': army.slug}) }}" class="btn btn-xs btn-danger">OUI</a>
                </div>
            </div>
        </div>
    </div>
</div>