<div class="modal" id="{{ photo.id }}_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-delete">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Suppresion d'une photo</h4>
            </div>
            <div class="modal-body modal-body-delete">
                <img src="{{ asset(photo.webPath) }}" class="img-responsive" alt="{{ photo.alt }}" height="40px"><br>

            </div>
            <div class="modal-footer modal-footer-delete">
                Etes vous sur de vouloir supprimer cette photo ?
                <div class="button-group">
                    <a data-dismiss="modal" class="btn btn-xs btn-default">NON</a>
                    <a href="{{ path('photo_figurine_delete', {'id': photo.id}) }}" class="btn btn-xs btn-danger">OUI</a>
                </div>
            </div>
        </div>
    </div>
</div>