<div class="modal" id="{{ photo.id }}_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Suppresion d'une photo</h4>
            </div>
            <div class="modal-body">
                <img src="{{ asset( photo.webPath) }}" alt="{{ photo.id }}" height="100px"><br>
                Etes-vous sur de vouloir supprimer cette photo ?
                <div class="button-group">
                    <a data-dismiss="modal" class="btn btn-xs btn-default">NON</a>
                    <a href="{{ path('photo_user_delete', {'id': photo.id}) }}" class="btn btn-xs btn-danger">NON</a>
                </div>
            </div>
        </div>
    </div>
</div>