{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Modifier un résume de la bataille {{ form.vars.data.battle.name }}
{% endblock %}

{% block body %}
    <div>
        <h1>Réume de la bataille {{ form.vars.data.battle.name }}</h1>
        {{ form(form) }}
        <small>
            Vous pouvez inserez une image et retoucher la taile.<br>
            <i class="glyphicon glyphicon-warning-sign"></i> Ne modifier qu'une seule donnée pour ne pas modifier le ratio de l'image
        </small>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $('#resume_resume').summernote({
            height: 500
        })
    </script>
{% endblock %}
