<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Warhantmille Battle{% endblock %}
		</title>
		<!-- appelle des cdn de bootstrap -->

		{% block link %}
            {% include 'AppBundle:Default:link.html.twig' %}
        {% endblock %}
			{% block stylesheets %}
            <style type="text/css">
				/* Margin haute au body pour descendre le contenu de la page sous la barre de navigation */
				body{
					padding-top: 80px;
				}
            </style>
			{% endblock %}
	</head>
	<body class="container">
		{% include 'AppBundle:Default:navbar.html.twig' %}
		<div class="container">
			{% include 'AppBundle:Default:flash.message.html.twig' %}
			{% block body %}{% endblock %}
		</div>
	</body>
	{% block javascript %}
			{% include 'AppBundle:Default:javascript.html.twig' %}
		{% endblock %}
</html>
