{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
	Suppresion d'une photo
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<h2 class="text-center">Suppresion d'une photo</h2>

		<form action="{{ path('app_photo_delete',{'id': photoFigurine.id})}}" method="post">
      <div class="row">
        <label class="col-sm-6"for="suppression">Etes-vous sur de vouloir supprimer cet photo :</label><input type="submit" value="Supprimer" class="btn btn-danger btn-sm col-sm-2">
      </div>

			{{ form_rest(form)}}
		</form>
		<div class="text-right">
			<a class="btn btn-default btn-xs" href="{{ path('app_army_view',{'slugArmy': slugArmy})}}"><i class="glyphicon glyphicon-chevron-left"></i>Retour à l'armée</a>
		</div>
	</div>
{% endblock %}
