{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
 Annulation de bataille
{% endblock %}

{% block body %}
  <div class="jumbotron">
    <h2 class="text-center">Annulation de la bataille {{ battle.name}}</h2>
    <form action="{{ path('battle_canceled',{'slugBattle': battle.slugBattle })}}" method="post">
      <div class="row">
        <label for="annulation" class="col-sm-6">Etes-vous sur de vouloir annulé cette bataille</label>
        <input type="submit" value="Annuler" id="annulation" class="btn btn-default btn-sm col-sm-2">
      </div>
      {{ form_rest(form)}}
    </form>
    <div class="text-right">
      <a href="{{path('battles')}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-left"></i> Retour aux batailles</a>
    </div>
  </div>
{% endblock %}
