{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
	Suppression d'une Armée
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<h2 class="text-center">Suppresion de l'armée {{ army.name }}</h2>

		<form action="{{ path('army_delete',{'slugArmy': army.slugArmy})}}" method="post">
			<div class="row">
				<label class="col-sm-6" for="supression">Etes-vous sur de vouloir supprimer cette armée</label>
				<input type="submit" value="Supprimer" class="btn btn-danger btn-sm col-sm-2">
			</div>
			{{ form_rest(form)}}
		</form>
		<div class="text-right">
			<a class="btn btn-default btn-xs" href="{{ path('army_list') }}"><i class="glyphicon glyphicon-chevron-left"></i>Retour aux armées</a>
		</div>
	</div>

{% endblock %}
