{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div  class="container jumbotron">
        <h2 class="text-center">Bienvenue sur le site Warhantmillebattle</h2>
        <p>
            Pour acceder au site vous devez vous identifier.
        </p>
        {{ include('FOSUserBundle:Security:login_content.html.twig') }}
    </div>


{% endblock fos_user_content %}