{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
	Suppresion d'une figurine
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<h2 class="text-center">Suppresion de la figurine {{ figurine.figurine.name }}</h2>

		<form action="{{ path('army_figurine_delete',{'id': figurine.id})}}" method="post">
			<div class="row">
				<label class="col-sm-6" for="supression">Etes-vous sur de vouloir supprimer cette figurine</label>
				<input type="submit" value="Supprimer" class="btn btn-danger btn-sm col-sm-2">
			</div>
			{{ form_rest(form)}}
		</form>
		<div class="text-right">
			<a class="btn btn-default btn-xs" href="{{ path('army_view',{'slugArmy': slugArmy})}}"><i class="glyphicon glyphicon-chevron-left"></i>Retour à l'armée</a>
		</div>
	</div>
{% endblock %}
