{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
modification d'une unité
{% endblock %}

{% block content %}
	<div class="well">
		<h2 class="text-center">Modification des options de la unité {{ unitArmy.unit.name}}</h2>
		{% include '@App/UnitArmy/form.html.twig' with {'form': form} %}

		<div class="text-right">
			<a class="btn btn-default btn-xs" href="{{ path('army_view',{'slug': slug})}}"><i class="glyphicon glyphicon-chevron-left"></i>Retour à l'armée</a>
		</div>

	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
	window.onload = function () {
		var checkboxElts = document.querySelectorAll('div.checkbox');
		for (var i = checkboxElts.length - 1; i >= 0; i--) {
			checkboxElts[i].classList.add('col-sm-4');
		}

	}
	</script>
{% endblock %}
